html, body{
    height: 100%;
}

body{
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(180deg, rgba(9,35,175,1) 0%, rgba(0,0,0,1) 100%);
    color: white;
}

button{
    padding: 0 1rem;
    font-size: 1.5em;
    background:#1646a0;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 25px;
    cursor: pointer;
    height: 50px;
    font-weight: bold;
    text-transform: uppercase;
    transition: .3s;
}

button:hover{
    background: #fff;
    color: #1646a0;
    transform: scale(1.1);
}

